@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    padding-left: 190px;
}

@media screen and (max-width: 992px) {
    body {
        padding-left: 0;
    }
}